<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="stylesheet" href="styles.css">
    <script src ="script.js" defer></script>
    <title>Piano</title>
</head>
<body>
    <div class = "buttons">

    </div>
    <button class ="record-button btn active" >Record</button>
    <button class ="play-button btn active" >Play</button>
    <button class ="save-button btn active" >Save</button>
    
   <div class = "piano">
    <div data-note ="key01"  class="key white"></div>
    <div data-note ="key02"  class="key black"></div>
    <div data-note ="key03"  class="key white"></div>
    <div data-note ="key04"  class="key black"></div>
    <div data-note ="key05"  class="key white"></div>
    <div data-note ="key06"  class="key white"></div>
    <div data-note ="key07"  class="key black"></div>
    <div data-note ="key08"  class="key white"></div>
    <div data-note ="key09"  class="key black"></div>
    <div data-note ="key10"  class="key white"></div>
    <div data-note ="key11"  class="key black"></div>
    <div data-note ="key12"  class="key white"></div>
    <div data-note ="key13"  class="key white"></div>
    <div data-note ="key14"  class="key black"></div>
    <div data-note ="key15"  class="key white"></div>
    <div data-note ="key16"  class="key black"></div>
    <div data-note ="key17"  class="key white"></div>
    <div data-note ="key18"  class="key white"></div>
    <div data-note ="key19"  class="key black"></div>
    <div data-note ="key20"  class="key white"></div>
    <div data-note ="key21"  class="key black"></div>
    <div data-note ="key22"  class="key white"></div>
    <div data-note ="key23"  class="key black"></div>
    <div data-note ="key24"  class="key white"></div>
   </div> 

   <audio id="key01" src ="24-piano-keys/key01.mp3"></audio>
   <audio id="key02" src ="24-piano-keys/key02.mp3"></audio>
   <audio id="key03" src ="24-piano-keys/key03.mp3"></audio>
   <audio id="key04" src ="24-piano-keys/key04.mp3"></audio>
   <audio id="key05" src ="24-piano-keys/key05.mp3"></audio>
   <audio id="key06" src ="24-piano-keys/key06.mp3"></audio>
   <audio id="key07" src ="24-piano-keys/key07.mp3"></audio>
   <audio id="key08" src ="24-piano-keys/key08.mp3"></audio>
   <audio id="key09" src ="24-piano-keys/key09.mp3"></audio>
   <audio id="key10" src ="24-piano-keys/key10.mp3"></audio>
   <audio id="key11" src ="24-piano-keys/key11.mp3"></audio>
   <audio id="key12" src ="24-piano-keys/key12.mp3"></audio>
   <audio id="key13" src ="24-piano-keys/key13.mp3"></audio>
   <audio id="key14" src ="24-piano-keys/key14.mp3"></audio>
   <audio id="key15" src ="24-piano-keys/key15.mp3"></audio>
   <audio id="key16" src ="24-piano-keys/key16.mp3"></audio>
   <audio id="key17" src ="24-piano-keys/key17.mp3"></audio>
   <audio id="key18" src ="24-piano-keys/key18.mp3"></audio>
   <audio id="key19" src ="24-piano-keys/key19.mp3"></audio>
   <audio id="key20" src ="24-piano-keys/key20.mp3"></audio>
   <audio id="key21" src ="24-piano-keys/key21.mp3"></audio>
   <audio id="key22" src ="24-piano-keys/key22.mp3"></audio>
   <audio id="key23" src ="24-piano-keys/key23.mp3"></audio>
   <audio id="key24" src ="24-piano-keys/key24.mp3"></audio>





</body>
</html>